PROJECT_ROOT=
BASE_MODEL=32000
MAX_MODEL_LEN=
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="AI_AGENTS"
OPENAI_API_KEY=
HF_TOKEN=
SERVER_IP="127.0.0.1"
NGINX_PORT=8080
UI_PORT=8501