LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY="langsmith-api-token-here"
LANGSMITH_PROJECT="AI_AGENTS"
OPENAI_API_KEY="openai-token-here"
HF_TOKEN="hf-token-here"
UI_PORT=8501
LLM_API_PORT=8000
MAX_MODEL_LEN=32000
SERVER_IP="127.0.0.1"
NGINX_PORT=8080
USERNAME=admin
PASSWORD="passwd"
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
